* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins";
}

/* Common */

a {
    text-decoration: none;
}

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 98px;
    padding: 18px 16px;
    border-radius: 12px;
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    margin: auto 0;
}

.btn:hover {
    opacity: 0.9;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: horizontal;
    overflow: hidden;
}

/* Header */
.header {
    position: relative;
    height: 100vh;
    background: #e6f0ff;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar ul a {
    padding: 8px 14px;
    color: #4f5361;
    font-size: 1.4rem;
    font-weight: 500;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .actions {
    margin-left: auto;
    margin-right: 18px;
}

.navbar .action-link {
    margin-right: 18px;
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
}

.navbar .action-btn {
    border-radius: 8px;
    padding: 13px 16px;
}

/* Hero info */

.hero .info {
    margin-top: 130px;
    width: 51%;
}

.hero .sub-title {
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.18px;
    margin-bottom: 8px;
}

.hero .title {
    color: #000336;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 7.6rem; /* 118.75% */
}

.hero .desc {
    color: #5a6473;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.2rem; /* 177.778% */
}

.hero .hero-cta {
    margin-top: 40px;
    min-width: 170px;
}

.hero-img {
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0;
}

/* Clients */

.clients {
    padding: 43px 0 64px;
    margin-top: 79px;
}

.clients .row {
    display: flex;
    justify-content: space-between;
}

.clients .desc {
    color: #7d8589;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2rem; /* 125% */
}

.clients .row-desc {
    margin-top: 23px;
}

.clients .images {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
    align-items: center;
}

/* Guides */

.guides {
    padding: 93px 0 79px;
    margin-top: 40px;
}

.guides .sub-title {
    position: relative;
    color: #000339;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 3.5rem; /* 100% */
}

.guides .sub-title::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.guides .desc {
    width: 459px;
    max-width: 100%;
    margin: 20px auto 0;
    color: #5a6473;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem; /* 187.5% */
}

.list-guide {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.guide-item {
    margin: 0 70px;
    text-align: center;
}

.guide-item .title {
    margin-top: 26px;
    color: #3b3c45;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.2rem; /* 110% */
}

.guide-item .link {
    display: inline-block;
    margin-top: 10px;
    color: #0689ff;
    font-size: 1.4rem;
    font-weight: 600;
}

.guide-item .arrow {
    margin-left: 6px;
}

.guide-cta {
    display: flex;
    justify-content: center;
    min-width: 170px;
}

.guide-cta .btn {
    margin-top: 50px;
}

/* Featured */

.featured {
    margin-top: 41px;
    background: #f5fafe;
    padding: 110px 0;
}

.featured .sub-title {
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 3.5rem; /* 100% */
}

.featured .row {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured .desc {
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem; /* 187.5% */
    word-break: break-all;
}

.featured .link {
    display: flex;
    align-items: center;
}

.featured .link span {
    margin-right: 8px;
    color: #0689ff;
    font-size: 1.8rem;
    font-weight: 600;
}

.featured .list {
    display: flex;
    gap: 30px;
    margin-top: 68px;
}

.featured .items {
    flex: 1;
    width: 350px;
    border-radius: 1.2rem;
    background: #fff;
    box-shadow: 0px 65px 80px -46px rgba(226, 238, 249, 0.6);
}

.featured .items .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.featured .body {
    padding: 17px 20px 24px;
}

.featured .body .title a {
    color: #000339;
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem; /* 100% */
}

.featured .body .desc {
    margin-top: 11px;
    color: #a3a6ab;
    font-size: 1.4rem;
    font-weight: 500;
}

.featured .body .info {
    display: flex;
    margin-top: 21px;
    align-items: center;
}

.featured .body .icon {
    margin-right: 8px;
    margin-left: 23px;
}

.featured .body .icon:first-child {
    margin-left: 0;
}

.featured .body .label {
    color: #4d4d52;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4rem; /* 100% */
    letter-spacing: 0.014rem;
}

/* Stats */

.stats {
    margin-top: 75px;
    padding: 50px 0;
}

.stats .content {
    width: 1048px;
}

.stats .row {
    display: flex;
}

.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .img-block {
    position: relative;
}

.stats .info {
    padding: 79px 0 0 165px;
}

.stats .img-block > img {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
}

.stats .sub-title {
    position: relative;
    color: #000339;
    width: 269px;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 4.5rem; /* 128.571% */
}

.stats .sub-title::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
    top: -10px;
    left: 0;
}

.stats .info .desc {
    width: 309px;
    margin-top: 20px;
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem; /* 187.5% */
}

.stats .stats-trend {
    position: absolute;
    top: 0;
    left: 0;
    width: 239px;
    height: 252px;
    padding: 45px 22px 40px;
    border-radius: 0 0 12px 12px;
    background-color: #fff;
    box-shadow: 90px 85px 100px 0px rgba(0, 0, 0, 0.06);
}

.stats .stats-trend .row {
    display: flex;
    justify-content: space-between;
}

.stats .stats-trend .value {
    color: #000339;
    font-size: 2.6rem;
    font-weight: 700;
    letter-spacing: 0.026rem;
}

.stats .stats-trend .desc {
    margin-top: 8px;
    color: #a7a7a7;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8rem; /* 150% */
}

.stats .stats-trend .separate {
    margin-top: 25px;
    height: 1.2px;
    background: #e9e9e9;
}

.stats .avatar-block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 26px;
    gap: 16px 14px;
}

.stats .avatar-group {
    display: flex;
}

.stats .avatar-block .avatar {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -3px;
}

.stats .avatar-block .avatar:first-child {
    margin-left: 0;
}

.stats .row-qty {
    padding: 0 32px;
    margin-top: 110px;
    justify-content: space-between;
}

.stats .qty {
    color: #000;
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 6.4rem; /* 100% */
}

.stats .qty-desc {
    margin-top: 22px;
    color: #7b8087;
    font-size: 1.8rem;
    font-weight: 500;
}

/* Subscription */

.subscription {
    padding: 51px 0 55px;
}

.subscription .body {
    display: flex;
    align-items: center;
    position: relative;
    height: 370px;
    background: #063183;
    border-radius: 20px;
}

.subscription .info {
    width: 670px;
    padding: 0 80px;
}

.subscription .sub-title {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 3.5rem; /* 100% */
}

.subscription .desc {
    margin-top: 15px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem; /* 187.5% */
}

.subscription .btn {
    min-width: 151px;
    margin-top: 20px;
    color: #002366;
    font-size: 1.3rem;
    font-weight: 500;
    background: #fff;
}

.subscription .image {
    position: absolute;
    bottom: 0;
    right: 20%;
}

/* Footer */

.footer {
    margin-top: 50px;
}

.footer .heading {
    margin-bottom: 41px;
    color: #1c1c1d;
    font-family: Lato, sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

.footer .item a {
    display: block;
    margin-bottom: 18px;
    color: #7a7a7e;
    font-size: 1.6rem;
    font-weight: 400;
}

.footer .row {
    display: flex;
    justify-content: space-between;
}

.footer .row:last-child {
    padding: 80px 0 58px;
    align-items: center;
}

.footer .item-p {
    width: 257px;
    margin-bottom: 40px;
}

.footer .copyright {
    color: #c2c2c2;
    font-size: 1.4rem;
    font-weight: 400;
}
